.container{

  .main{
    width: 800px;
    margin: 100px auto;
    .logo img{
      height: 92px;
      display: block;
      cursor: pointer;
      margin: 30px auto;
    }
    .grid-3{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}